h1 {
font-family: fantasy;
color: blue;
}
ul {
font-family: monospace;
color: green;
font-style: italic;
}
a:link {
text-decoration: none;
}
a:hover {
text-decoration: underline;
color: green;
}
table, tr {
font-style: italic;
background-color: gray;
}

