h1 {
text-align: center;
color: red;
}
header {
background-color: white
}
footer {
background-color: white;
text-align: center;
color: blue;
}
p {
display: table-cell;
width: 100px; 
text-align: center
}

p.price {
color: green;
}

p.menuitem {
}
a:active {
color: green
}
a:visited {
color: black
}
a:hover {
font-weight: bold
}
